body {
  font-family: Adobe Caslon Pro, Book Antiqua, Palatino Linotype, Georgia, serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 1em 5% 1.0em 5%;
	display: flex;
	flex-flow: row wrap;
}

header, footer, figure {
  flex: 1 100%;
}

article.center {
  flex: 1 100%;
  padding: 1% 1%;
	text-align: center;
}

article.center a{
	padding: 0 1%;
}


article.text {
  flex: 1 100%;
  padding: 0 16%;
}


.mobile article.text {
  flex: 1 100%;
  padding: 0 2%;
}

article.vertical {
  flex: 1 25%;
  padding: 0 2%;
}

.mobile article.vertical {
  flex: 1 100%;
}

h1 {
    font-size: 6.5rem;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    margin: 0.2em 0;
}

.mobile h1 {
    font-size: 4.0rem;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    margin: 0.2em 0;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3em;
    margin: 1.0em 0 0.5em 0;
		border-bottom: solid;
		border-bottom-width: 2px;
 
}

.mobile h2 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.3em;
    margin: 1.0em 0 0.4em 0;
}

h3 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    margin: 1em 0 0.5em 0;
}

article h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: left;
}

.mobile h3 {
    margin: 1em 0 1em 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    margin: 4em 0 0 0;
    font-style: italic;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.3em;
    margin: 0 0 0.5em 0;
}

.mobile p {
    font-weight: 400;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.3em;
    margin: 0 0 0.2em 0;
    list-style-type: square;
}

.mobile ul {
    font-weight: 400;
}

li {
    margin-bottom: 5%;
}

a {
    color: black;
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    }

img {
    max-width: 7%;
    margin: 0 0 0 43%;
}


.mobile img {
   max-width: 22%;
    margin: 0 0 -8% 43%;
}

hr {
	width: 100%;
    height: 0.025em;
    margin: -5% 60% 6% 0;
    background: black;
}

article img {
    max-width: 500px;
		margin: 5px;
}

.text {

	clear: both;
}

.impress {

	clear: both;
}

p.headline{
  font-family: Adobe Caslon Pro, Book Antiqua, Palatino Linotype, Georgia, serif;
	margin-top: 1em;
	padding-top: 0px;
}

p.center {
	text-align: center;
}

footer {
  font-family: Adobe Caslon Pro, Book Antiqua, Palatino Linotype, Georgia, serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 1.5em 4.5% 0.2em 4.5%;
}


/* Registration - Form */
/* ------------------- */

form h3 {
	text-align: left;
}

form label, form input, .form-group {
    font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.3em;
  margin: 0 0 0.5em 0;
}

.form-group ul {
	display: line;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  border-bottom: 1px solid #eeeeee;
  font-size: 1em;

}

input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;
}

.floating-label-form-group input[type='text'],
.floating-label-form-group input[type='email'],
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1em;
	width: 100%;
  background: none;
  box-shadow: none !important;
  resize: none;
  font-family: 'Open Sans', sans-serif;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 1em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #f8eb9a;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.form-group {
	padding: 0px; margin: 0px;
}

form.received {
	border-style: solid;
	border-width: 1px;
	padding: 1em;
}


